<% provide(:title, t('skill.title')) %>
<div class="container">
  <h2 class="text-center">
    <%= yield(:title) %>
  </h2>

  <div class="col-md-12 text-center">
    <%= will_paginate @skills %>
  </div>
  <table class="table table-hover" id="skills">
    <thead>
    <tr>
      <th><%= t('skill.name_field') %></th>
      <th><%= t('skill.description_field') %></th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="skill-index">
    <%= render "skills/index" %>
    </tbody>
  </table>
  <div class="col-md-12 text-center">
    <%= link_to t('skill.create_button'), new_skill_path, remote: true, class: "btn btn-primary btn-width-sm" %>
  </div>
</div>

<div class="modal fade" id="skill-modal" role="dialog" aria-labelledby="" aria-hidden="true">
</div>

