<% provide(:title, 'All skills') %>
<div class="container">
  <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <h3>
    <%= yield(:title) %>
  </h3>
  <%= will_paginate @skills %>
  <table class="table table-hover" id="skills">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="skill-index">
      <%= render "skills/index" %>
    </tbody>
  </table>
  <%= link_to "Create new", new_skill_path, remote: true, class: "btn btn-primary" %>
</div>

<div class="modal fade" id="skill-modal" role="dialog" aria-labelledby="" aria-hidden="true">
</div>
