<% provide(:title, t('reports')) %>
<div class="container">
  <h3>
    <%= yield(:title) %>
  </h3>
  <%= will_paginate @report_templates %>
  <table class="table table-hover" id="report_templates">
    <thead>
    <tr>
      <th><%= t('report_template.name_field') %></th>
      <th><%= t('report_template.description_field') %></th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="report-template-index">
    <% @report_templates.each do |report_template| %>
    <tr>
          <td><%= report_template.name %></td>
          <td><%= report_template.description %></td>
          <td>
            <div class="btn-group btn-group-xs">
              <%= link_to t('report_template.generate_button'), report_path(report_template), class: "btn btn-xs btn-primary" %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
